
@import "../base/media-queries.pcss.css";

@import "../base/media-queries.css";
/*view grid item*/

.views-view-responsive-grid__item {
    width: 100%;
    max-width: 450px;
    cursor: pointer;
    padding: 0;
    outline: none;
    box-shadow: none;
    border: 0.5px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 0;
  }

  .views-view-responsive-grid__item :hover {

}

.views-view-responsive-grid__item-inner {
    display: flex;
    flex-direction: column;
   /* padding-bottom: 1.5rem;*/
    /* height: calc(100% - 1.5rem); */
    padding: 15px;
    text-align: center;
    /* justify-content: space-between; */
    margin-bottom: 0;
  }

  .views-view-responsive-grid__item-inner:hover{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  /*API docs item title */
  .node--type-api-docs h2, .node__title {
    font-weight: 400;
  }

  .node--view-mode-teaser .node__top-wrapper{
    justify-content: center;
  }

  .node--type-api-docs h2:hover{
    box-shadow: none;
  }
  .node--type-api-docs .node--view-mode-teaser header {
    overflow-wrap: break-word;
    padding: 1.5rem;
  }

  /*API docs item description */
  .field.field--name-field-api-doc-description.field--type-string-long.field--label-hidden.field__item {
    overflow-wrap: break-word;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  .node--type-api-docs .node__content{
    margin-top: 20px;
    padding-bottom: 0;
  }

  .node--type-api-docs .node__content :hover{
    box-shadow: none;
  }


/*API docs view links*/
  .node__content.api-docs-view-links {
    margin-top: auto;
    display: inline-grid;
  }
  .node__content.api-docs-view-links a {
    padding: 10px;
    border: 1px solid;
    border-radius: 50px;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    text-decoration: none;
    background-color: #f0ffff;
    color: #000;
  }
  .node__content.api-docs-view-links a:hover {
    background-color: #fff;
  }

  .node--view-mode-teaser::after {
    right: 0;
    left: 0;
    margin: auto;
  }

  @media (min-width: 320px)  and (max-width: 480px){
    .views-view-responsive-grid--horizontal {
      --views-responsive-grid--column-count: 1 !important;
    }
  }

/*cneter align main layout*/
.path-api-docs .main-content {
  margin: 0 auto;
  width: 100%;
}

/*remove margin bottom from grid*/
.path-api-docs .node--view-mode-teaser {
  margin-block-end: 0;
}

/*layout for API docs page */
@media (min-width: 62.5rem){
.layout--pass--content-medium > * {
  grid-column: 2 / 15;
  margin: 0 auto;
}}

.wrapper{
  width: 30%;
}
